.container {
  background-color: #fbfbfb;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.product-card-wrapper {
  min-height: calc(100vh - 170px);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
