.container-fluid {
  background-color: #fbfbfb;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.product-card-wrapper {
  min-height: calc(100vh - 170px);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


ul.pagination {
  margin-top: 30px;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}
.pagination > .active > a {
  background-color: $custom-dark-grey;
  border-color: $custom-dark-grey;
  color: white;
}
.pagination > li > a {
  color: $custom-dark-grey;
  cursor: pointer;
}
