.product-card {
  position: relative;
  height: 330px;
  max-width: 220px;
  border-radius: 3px;
  padding: 20px 30px;
  margin: 30px;
  flex: 1 1 220px;
  background-color: #f5f5f5;
  color: #636363;
  text-decoration: none;
  box-sizing: border-box;
  box-shadow: 1px 1px 8px #f2f2f2;
  overflow: hidden;
}
.product-card-heading {
  font-size: 15px;
}
.product-card:hover .product-card-heading {
  color: #636363;
}
.product-img {
  height: 130px;
  width: 180px;
  object-fit: cover;
  margin-left: 50%;
  transform: translateX(-50%);
}
.product-details-container {
  background: #fff;
  position: absolute;
  top: 180px;
  left: 0;
  width: 220px;
  height: 200px;
  padding: 5px 15px 0px 15px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.product-card:hover .product-details-container {
  top: 140px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.product-details-container p {
  font-size: 12px;
  color: #b1b1b3;
}
.description {
  margin-top: 200px;
}
.product-card:hover .description {
  margin-top: 5px;
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}
.product-card-overlay {
  opacity: 0;
}
.product-card:hover .product-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #E6EFF2;
  opacity: 0.7;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
#view-details, #add-now-btn {
  position: absolute;
  color: #2d6e76;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  white-space: nowrap;
  padding: 10px 15px;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
}
#view-details {
  top: 15px;
}
#add-now-btn {
  border: 2px solid #2d6e76;
  top: 70px;
}
#add-now-btn:hover {
  background: #2d6e76;
  color: white;
  cursor: pointer;
}
.product-card:hover #view-details, .product-card:hover #add-now-btn {
  opacity: 1;
}
